.img{
    border-radius: 10px 10px 0 0px;
    height: 200px;
    width: 300px;
    object-fit: cover;
}
.logo{
    height: 50px;
    width: 50px;
    object-fit:cover;
    border: 5px solid white;
    border-radius: 50px;
position: relative;
bottom:35px;
left: 20px;
}
.container{
    border-radius: 10px;
    
    background-color: rgb(235, 234, 234);
    height:auto;
    width: 300px;
}
.last{
    display: flex;
    justify-content: space-between;
}
.title{
    margin: 0;
    position: relative;
    bottom: 20px;
}
.details{
    padding: 15px;
}
.minilogo{
    height: 20px;
    width: 20px;

}
.logoasset{
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
}
.main{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    gap:16px;
    justify-items: center;
}
.discription{
    margin: 0;
}

@media only screen and (max-width: 400px) {
    .container {
      background-color: rgb(36, 60, 213);
      color: white;
    }
    .main{
        margin-top:0px;
    }
  }

  @media only screen and (max-width: 700px) {
   
    .main{
        margin-top:0px;
    }
  }